.header {
  background: url(../../assets/images/pattern-bg.png);
  background-size: cover;
  height: 350px;
  text-align: center;
  position: relative;

  &__title {
    color: white;
    margin-bottom: 1.5rem;
    font-weight: 500;
    font-size: 3rem;
  }
}

  @media (min-width: 1024px) {
    .header {
      padding: 2rem 1.5rem;
    }
  }